<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생전체리스트</title>
    <style>
        *{margin:0, padding:0}
        div{width:800px; margin:50px auto;}
        table,th,td{border:1px solid black; border-collapse:collapse;}
        table{width:750px; text-align:center}
        th{width:100px; height:40px; background:#eee;}
        td{height:30px;}
    </style>
</head>
<body>
<div>
    <h2>학생전체리스트</h2>
    <h4>학생인원 : 100 명</h4>
    <table>
        <tr>
            <th>번호</th>
            <th>학생이름</th>
            <th>학과</th>
            <th>나이</th>
            <th>학년</th>
            <th>성별</th>
            <th>등록일</th>
        </tr>
        <tr>
            <td>1</td>
            <td>홍길동</td>
            <td>체육과</td>
            <td>12</td>
            <td>6</td>
            <td>남자</td>
            <td>2022-09-22</td>
        </tr>
    </table>
</div>
</body>
</html>