<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생상세페이지</title>
    <style>
        div{width:700px; margin:50px auto;}
        h2{text-align:center}
        table,th,td{border:1px solid black; border-collapse:collapse;}
        table{width:600px; margin:50px auto;}
        th{width:300px; height:40px; background:#eee;}
        td{padding-left:30px;}
    </style>
</head>
<body>
<div>
    <h2>학생상세페이지</h2>
    <table>
        <tr>
            <th>번호</th>
            <td>{{stu.s_no}}</td>
        </tr>
        <tr>
            <th>학생이름</th>
            <td>{{stu.s_name}}</td>
        </tr>
        <tr>
            <th>학과</th>
            <td>{{stu.s_major}}</td>
        </tr>
        <tr>
            <th>나이</th>
            <td>{{stu.s_age}}</td>
        </tr>
        <tr>
            <th>학년</th>
            <td>{{stu.s_grade}}</td>
        </tr>
        <tr>
            <th>성별</th>
            <td>{{stu.s_gender}}</td>
        </tr>
        <tr>
            <th>등록일</th>
            <td>{{stu.s_date}}</td>
        </tr>
    </table>
</div>
</body>
</html>